.root {
  display: flex;
  margin: 10px 0;
}

.listItem {
  margin: 0 10px;
  color: #8f9299;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.1s linear;
}

.listItem:hover {
  color: #fff;
}

.active,
.active:hover {
  color: #de5e60;
  border-bottom: 1px solid #de5e60;
}
