.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.listItem {
  flex: 0 1 31.33%;
  margin: 1%;
  animation: FadeIn 0.3s linear;
  animation-fill-mode: both;
}

.hidden {
  animation: FadeOut 0.3s linear;
  animation-fill-mode: both;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes FadeOut {
  0% {
    transform: scale(1);
  }

  85% {
    opacity: 0.4;
    transform: scale(0.3);
  }
  100% {
    opacity: 0;
    position: absolute;
    left: -500px;
    transform: scale(0.1);
  }
}
