.root {
  overflow-y: auto;
  min-height: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
}

.description {
  color: #8f9299;
  padding: 0.5rem 0 1rem;
  flex: 1;
}

.stepper {
  background: transparent !important;
  justify-content: space-evenly !important;
  border-top: 1px solid #666;
  min-height: 2rem;
}

.stepperActiveDot {
  background: #de5e60 !important;
}
