.root {
  padding: 1rem 1rem 0.7rem 1rem;
  max-width: 100% !important;
  width: 100%;
}

.grid {
  justify-content: center;
}

.closeButton {
  align-self: center;
  position: absolute;
  opacity: 0.75;
  background: #de5e60;
  top: 0;
  right: 0;
}

.closeButton button {
  min-width: 44px;
}
