.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary);
}

.textPrimary {
  color: var(--text-primary);
}

.title {
  font-size: 36px;
  font-weight: 300;
  color: var(--text-primary);
}

.tagline {
  font-size: 20px;
  font-weight: 200;
  color: var(--text-primary);
}

.social {
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.8rem;
  margin: 0.5rem 0;
}

.socialIcon {
  fill: var(--text-secondary);
  width: 20px;
}

.profile {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 15px;
  justify-items: center;
}

.profilePic {
  color: var(--text-primary);
  margin-top: 6;
}

.bio {
  font-weight: 300;
  line-height: 28px;
  font-size: 1.1em;
  text-align: left;
  color: var(--text-secondary);
}

.details {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px;
}

.item {
  display: grid;
  justify-items: center;
  text-align: center;
  align-content: baseline;
}

.itemIcon {
  border: 1px solid;
  padding: 0.5em;
  border: 1px solid var(--text-primary);
  border-radius: 15px 0;
  fill: var(--text-primary);
  width: 25px;
}

.itemTitle {
  font-size: 24px;
  font-weight: 300;
  color: var(--text-primary);
}

.itemSubtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  color: var(--text-primary);
}

.itemContent {
  color: var(--text-secondary);
}

@media screen and (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto;
  }

  .profilePic {
    width: 150px;
  }
}

@media screen and (max-width: 599px) {
  .details {
    grid-template-columns: 1fr;
  }

  .item {
    text-align: left;
    grid-template-columns: 40px auto;
    justify-items: baseline;
    gap: 0 20px;
  }

  .itemIcon {
    font-size: 1.3em;
    grid-row: span 2;
  }

  .itemContent {
    grid-column: span 2;
  }
}
