.root {
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon {
  font-size: 1.5em;
  border: 1px solid;
  padding: 0.5em;
  border-radius: 15px 0;
  color: var(--text-primary);
}

.title {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  color: var(--text-primary);
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
  color: var(--text-primary);
}

.content {
  margin: 0;
  color: var(--text-secondary);
}

@media screen and (max-width: 599px) {
  .item {
    text-align: left;
    display: grid;
    grid-template-columns: 40px auto;
    gap: 0 15px;
  }

  .icon {
    font-size: 1.3em;
    grid-row: span 2;
  }

  .content {
    grid-column: span 2;
  }
}
