.root {
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 1.5em;
  border: 1px solid;
  padding: 0.5em;
  border-radius: 15px 0;
}

.title {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
}

.content {
  color: #8f9299;
  margin: 0;
  text-align: center;
}
