.root {
  justify-content: center;
  padding: 1rem 0;
}

.profilePic {
  color: var(--text-primary);
  margin-top: 6;
}

.textPrimary {
  color: var(--text-primary);
}

.description {
  font-weight: 300;
  line-height: 28px;
  font-size: 1.1em;
  margin: 0;
  text-align: left;
  color: var(--text-secondary);
}
