.root {
  justify-content: center;
  padding: 0 2rem;
}

.profilePic {
  width: 100%;
}

.description {
  color: #8f9299;
  font-weight: 300;
  line-height: 28px;
  font-size: 1.1em;
  margin: 0;
  text-align: left;
}

.focus {
  color: #fff;
}
