.root {
}

.title {
  text-align: center;
}

.content {
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contactHeading {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;
}

.email {
  margin: 0.5rem 0;
}

.phone {
  margin: 0;
  line-height: 28px;
  padding: 0;
  color: #8f9299;
}

.social {
  display: grid;
  grid-template-columns: repeat(3, 40px);
}

.social .icon {
  fill: #8f9299;
  width: 20px;
}
