:local(.root) {
  padding: 3rem 0;
}

:local(.title) {
  text-align: center;
}

:local(.inner) {
  justify-content: center;
  padding-top: 2rem;
}

:local(.heading) {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1em;
  text-transform: uppercase;
}

:local(.list) {
  margin: 0;
  padding: 0;
  list-style: none;
}

:local(.list) li {
  margin: 0 0 20px;
  line-height: 28px;
  padding: 0;
  color: #8f9299;
}

:local(.link) {
  color: #de5e60;
  text-decoration: none;
  -webkit-transition: color 0.1s linear 0s, color 0.1s linear 0s;
  -moz-transition: color 0.1s linear 0s, color 0.1s linear 0s;
  -o-transition: color 0.1s linear 0s, color 0.1s linear 0s;
  transition: color 0.1s linear 0s, color 0.1s linear 0s;
}

:local(.link:hover) {
  color: #fff;
}
