:local(.root) {
  position: relative;
  width: 100%;
  height: auto;
  background: #26292e;
  text-align: center;
}

:local(.inner) {
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 0;
  padding: 20px 0;
  text-transform: uppercase;
}

:local(.link) {
  color: #de5e60;
  text-decoration: none;
  -webkit-transition: color 0.1s linear 0s, color 0.1s linear 0s;
  -moz-transition: color 0.1s linear 0s, color 0.1s linear 0s;
  -o-transition: color 0.1s linear 0s, color 0.1s linear 0s;
  transition: color 0.1s linear 0s, color 0.1s linear 0s;
}

:local(.link:hover) {
  color: #fff;
}
