body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  background: #2f3238;
}

a {
  color: #de5e60;
  text-decoration: none;
  transition: color 0.1s linear 0s;
}

a:hover {
  color: #fff;
}
